footer {
  background-color: var(--bg-color);
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

footer .container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

footer .socials {
  display: flex;
  gap: 10px;
}

footer .socials svg {
  font-size: 2rem;
  cursor: pointer;
}
